<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가
index.js 호출 코드를 보면 절대 경로(/)로 바로 시작함
스프링 부트는 기본적으로 src/main/resources/static에 위치한 자바스크립트, CSS, 이미지 등 정적 파일들은 URL에서 /로 설정됨
예) src/main/resources/static/js/ ... http://도메인/js-->
<script src="/js/app/index.js"></script>
</body>
</html>