{{>layout/header}}
<h1>스프링 부트로 시작하는 웹서비스 ver.2</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">
                글 등록
            </a>
            <!--로그인 기능 영역-->
            <!--여기서 사용된 #과 ^는 해당 값이 존재하는지 여부에 따른 분기이다. true, false를 판별하려면 if를 사용하면 됨-->
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <!--스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL. SecurityConfig에서 URL을 변경할수도 있다-->
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <!--스프링 시큐리티에서 기본적으로 제공하는 로그인 URL.-->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!--    목록 출력 영역-->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종 수정일</th>
        </tr>
        </thead>
        <tbody>
        <!--        posts라는 리스트를 순회한다. for문과 같은 역할-->
        {{#posts}}
            <tr>
                <!--                리스트의 필드들-->
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}"> {{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>
{{>layout/footer}}