{{>layout/header}}

<h1>게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
                <!--머스테치는 객체의 필드 접근 시 점(Dot)으로 구분
                즉, Post 클래스의 id에 대한 접근은 post.id로 사용할 수 있음-->
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
                <!--readonly는 Input 태그에 읽기 가능만 허용하는 속성
                id와 author는 수정할 수 없도록 읽기만 허용하도록 추가-->
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content">{{post.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button> <!--삭제 버튼을 수정 완료 버튼 옆에 추가-->
    </div>
</div>

{{>layout/footer}}